*{
    margin: 20px;
    margin: 20px;
}
h1{ text-align: center;
    color: green;

}
.header{
    height: 500;
    text-align: left;
}
.header ul{
    text-align: right;

}
.header ul li{
    list-style:none;
    margin: 20px;
    display:inline-block;
}
.header ul li a{
    text-decoration: rebeccapurple;
    padding: 15px;
}
.header ul li a:hover{
    background-color: green;
    color:greenyellow;
    padding: 20px;
}
h2{
    text-align: center;
    color: green;
}

.contenty #imagex{
    float: left;
    background-color: #bb3030;
}